<div>
  <mat-icon class="addBtn" (click)="openModal(template)">add_box</mat-icon>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="instance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Instance </th>
        <td mat-cell *matCellDef="let element"> {{element.instance}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Organization </th>
        <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<ng-template #template>
  <div class="modal-header">
    <h3 class="modal-title pull-left header"> Add Organizations</h3>
    <button type="button" class="close pull-right " aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" class="style_two">&times;</span>
    </button>
</div>
<div class="modal-body" id="scroll">
  <table mat-table [dataSource]="addorg" matSort class="mat-elevation-z8">

    <!-- Instance Column -->
    <ng-container matColumnDef="instance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Instance </th>
        <td mat-cell *matCellDef="let element"> {{element.instance}} </td>
    </ng-container>

    <!-- Organization Column -->
    <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Organization </th>
        <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" >
        <mat-checkbox [(checked)]="IsChecked" (change)="OnChange($event, element)"></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
  </table>
</div>
<div class="saveDiv">
  <button mat-raised-button class="saveBtn" (click)="submit()">Save</button>
</div>

</ng-template>

