.addBtn{
  text-align: right;
  float: right;
  font-size: 35px;
  margin-right: 1%;
  color: #28a745;
  cursor: pointer;
  margin: 20px;
}
.saveDiv{
  margin: 15px;
}
.saveBtn{
  float: right;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
