
    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation" mode="side">
        <mat-nav-list>  
          <a mat-list-item (click)="sidenav.close()" >
            <mat-icon>close</mat-icon> <span class="nav-caption">Close</span>
          </a>
        <a>
          <h2 class="module-title">Automation Portal</h2>
        <mat-nav-list class="sub-menu">
        <mat-divider class="navigation-divider"></mat-divider>      
          <a mat-list-item routerLink="/clients"   >
              <mat-icon>person</mat-icon> <span class="nav-caption">Clients</span>
          </a>
          <mat-divider class="navigation-divider"></mat-divider> 
          <a mat-list-item routerLink="/teams"   >
            <mat-icon>group</mat-icon> <span class="nav-caption">Teams</span>
          </a>
           <mat-divider class="navigation-divider"></mat-divider> 
          <a mat-list-item routerLink="/automation"   >
              <mat-icon>launch</mat-icon> <span class="nav-caption">Automation</span>   
          </a>
          </mat-nav-list>
          
          <!-- <h2 class="module-title">Admin</h2>
        <mat-nav-list class="sub-menu">
        <mat-divider class="navigation-divider"></mat-divider> 
        
          <a mat-list-item routerLink="/dashboard/users" (click)="onSidenavClose()" >
              <mat-icon>person</mat-icon> <span class="nav-caption">Users</span>
          </a>
          <mat-divider class="navigation-divider"></mat-divider> 
          <a mat-list-item routerLink="/dashboard/user-groups"  (click)="onSidenavClose()">
            <mat-icon>group</mat-icon> <span class="nav-caption">User Groups</span>
          </a>
           <mat-divider class="navigation-divider"></mat-divider> 
          <a mat-list-item routerLink="/dashboard/"  (click)="onSidenavClose()">
              <mat-icon>airplay</mat-icon> <span class="nav-caption">Screens</span>   
          </a> -->
          <!-- <mat-divider class="navigation-divider"></mat-divider> 
          <a mat-list-item routerLink="/dashboard/roles" (click)="onSidenavClose()">
              <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Roles</span>   
          </a> -->
          <!-- <mat-divider class="navigation-divider"></mat-divider>
          <a mat-list-item routerLink="/dashboard/role-groups"  (click)="onSidenavClose()">
            <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Role Groups</span>   
          </a> -->
          <!-- <mat-divider class="navigation-divider"></mat-divider>
          <a mat-list-item routerLink="/dashboard/permissions" (click)="onSidenavClose()">
              <mat-icon>input</mat-icon> <span class="nav-caption">Permissions</span>   
          </a> -->
          <!-- <mat-divider class="navigation-divider"></mat-divider>
          <a mat-list-item routerLink="/dashboard/permission-sets"  (click)="onSidenavClose()">
            <mat-icon>keyboard_tab</mat-icon> <span class="nav-caption">Permission Sets</span>   
          </a>
          <mat-divider class="navigation-divider"></mat-divider>
          <a mat-list-item routerLink="/dashboard/role-screen-permission-mapping"  (click)="onSidenavClose()">
            <mat-icon>playlist_add_check</mat-icon> <span class="nav-caption">Role Screen Permission</span>   
          </a>
          <mat-divider class="navigation-divider"></mat-divider>
          <a mat-list-item routerLink="/dashboard/user-role-mapping"  (click)="onSidenavClose()">
            <mat-icon>input</mat-icon> <span class="nav-caption">User Role Mapping</span>   
          </a>
          <mat-divider class="navigation-divider"></mat-divider> -->
  
         
          <!-- <mat-divider class="navigation-divider"></mat-divider>
          <a mat-list-item routerLink="/dashboard/roles" (click)="onSidenavClose()">
              <mat-icon>launch</mat-icon> <span class="nav-caption">Modules</span>   
          </a>
          <mat-divider class="navigation-divider"></mat-divider>
          <a mat-list-item routerLink="/dashboard/roles" (click)="onSidenavClose()">
              <mat-icon>input</mat-icon> <span class="nav-caption">Screen Roles</span>   
          </a> -->
          <!-- <a mat-list-item routerLink="#" (click)="onSidenavClose()">
              <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
          </a> -->
          
        <!-- </mat-nav-list> -->
      </a>
      <!-- <a mat-list-item  (click)="logout()">
        <mat-icon>logout</mat-icon> <span class="nav-caption">Logout</span>
        <mat-divider class="navigation-divider"></mat-divider> 
      </a> -->
    </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content >
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>